**/*.tfvars
**/*.tfvars.json
**/*.env
**/.terraform/*
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
**/*.tfstate
**/*.tfstate.*
**/*.log
**/*plan*